body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

#gradient {
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 5000px;
    background: linear-gradient(to right, #1f5ff4 0%,#2989d8 0%,#f727f3 100%,#7db9e8 100%);

    /* background-image: linear-gradient(rgb(36, 255, 233),rgb(0, 0, 0),rgb(36, 255, 233)); */
    /* background-image: linear-gradient(rgb(36, 255, 233),rgb(0, 0, 0),rgb(36, 255, 233)); */

}

.card-image img {
    background-color: #fff;
    padding: 4px;
}

.portfolio { display: none; }

a.about-me {
    margin-bottom: 10px;
}